body {
  background-color: rgb(246, 241, 227);
}

.navbar {
  overflow: hidden;
  background-color: rgb(88, 145, 151);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(204, 162, 81);
  color: black;
}

img {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: 0;
  width: 40%;
}

.footer {
  background-color: rgb(115, 81, 74);
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

.contact_us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-top: 0;
}
