body {
  font-family: "poppins", "playfair", sans-serif, serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding-left: 1.5rem;
}

h2 {
  padding-left: 1.5rem;
  display: flex;
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
}
p {
  margin: 0;
}

.navbar {
  overflow: auto;
  top: 0;
  background-color: rgb(88, 145, 151);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(204, 162, 81);
  color: black;
}

img {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: 0;
  width: 30%;
}

.footer {
  background-color: rgb(115, 81, 74);
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  bottom: 0;
}

.contact_us {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-top: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}

.about_us {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-top: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/images/chicken_salat.png);

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button {
  background-color: rgb(88, 145, 151);
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 20%;
}

.button:hover {
  background-color: rgb(204, 162, 81);
  color: black;
}
.submit {
  background-color: rgb(88, 145, 151);
  color: white;
  text-decoration: none;
  padding: 0.3rem;
}

.submit:hover {
  background-color: rgb(204, 162, 81);
  color: black;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  flex: 1 1 100%; /* By default, menu items take 100% of the width (1 column) */
  background-color: rgb(246, 241, 227);
  display: flex;
  margin: 1rem;
  text-align: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 15px;
}

.menu-item img {
  display: flex;
  margin: auto;
  max-width: 200px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .menu-item {
    flex: 1 1 50%; /* On medium screens, menu items take 50% of the width (2 columns) */
  }
}

@media only screen and (min-width: 768px) {
  .menu-item {
    flex: 1 1 33.33%; /* On large screens, menu items take 33.33% of the width (3 columns) */
  }
}
